# ======================
# Python
# ======================

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# ======================
# Machine Learning
# ======================

runs/
outputs/

*.pt
*.pth

# ======================
# Data / datasets
# ======================

datasets/
data/

# ======================
# Node / backend
# ======================

node_modules/
dist/

# Uploaded videos
server/uploads/

# ======================
# OS / editors
# ======================

.DS_Store
Thumbs.db
.vscode/